.perfil{
    display:flex;
    flex-direction: column;
    align-items: center;
    
.formulario{
    padding: 60px 0px 5px 0px ;
}
.botonR{
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;

}
}
.fitzen{
    .imagen{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/026/781/389/small/gym-interior-background-of-dumbbells-on-rack-in-fitness-and-workout-room-photo.jpg);
    text-align: center;
    padding: 120px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-size: 40px;
    width: 100vw;
    height: 50vw;

    }
    .mens{
        text-align: center;
        justify-content: center;
        font-size: larger;
    }
}
    h2{
        text-align: center;
        margin-top: 60px;
        border: 2px solid rgb(1, 70, 230);
        padding: 5px;
        background-color: rgb(74, 126, 247);
    
    }
    h3{
        text-align: center;
        margin-top: 10px 10px;
        border: 2.5px solid rgb(1, 70, 230);
        padding: 6px;
        font-size: 17px;
    }
    .botonPresionado {
       color: rgb(134, 134, 134) ;


      }
