.calendario { 
    padding: 20px;
    color: rgb(183, 226, 251);
}
.dias{
padding: 10px;
font-size: 8px;
color: rgb(139, 205, 236);
}
h1{
    padding:  0 90px;
    color: rgb(139, 205, 236);
}
P{
    color: white;
    font-size: 25px;
}